<inventory-bottom-toolbar></inventory-bottom-toolbar>
<mat-horizontal-stepper class="stepper">
  <mat-step>
    <ng-template matStepLabel>MAKE STORE ROOM REQUEST</ng-template>
    <inventory-store-room-request-step-one></inventory-store-room-request-step-one>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>CONFIRM YOUR REQUEST</ng-template>
    <inventory-store-room-request-step-two></inventory-store-room-request-step-two>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>REQUEST STATUS</ng-template>
    <inventory-store-room-request-step-three></inventory-store-room-request-step-three>
  </mat-step>
</mat-horizontal-stepper>