<mat-toolbar color="primary">
  <span style="font-size: 0.75em">BREAKROOM REQUEST VIEW</span>
  <span class="spacer"></span>
  <button
    mat-icon-button
    color="warn"
    style="margin: 0 1.5em"
    [disabled]="isDeleteButtonDisabled"
    (click)="handleDelete()"
  >
    <mat-icon style="font-size: 2.7em">delete</mat-icon>
  </button>
</mat-toolbar>
<div style="padding-top: 0.5em">
  <ag-grid-angular
    #agGrid
    id="extractionGrid"
    [ngStyle.xs]="{'width.%': 100, 'height.px': 300}"
    [ngStyle.sm]="{'width.%': 100, 'height.px': 350}"
    [ngStyle.md]="{'width.%': 100, 'height.px': 400}"
    [ngStyle.lg]="{'width.%': 100, 'height.px': 500}"
    [ngStyle.xl]="{'width.%': 100, 'height.px': 700}"
    [headerHeight]="55"
    [defaultColDef]="defaultColDef"
    class="ag-theme-alpine"
    [rowData]="rowData | async"
    [columnDefs]="columnDefs"
    [animateRows]="true"
    rowSelection="multiple"
    [enableCellChangeFlash]="true"
    [cellFlashDelay]="1500"
    [cellFadeDelay]="1000"
    (selectionChanged)="getSelectedRows()"
    (gridReady)="onGridReady($event)"
    [pagination]="true"
    [paginationPageSize]="12"
  ></ag-grid-angular>
</div>