mat-toolbar {
  height: 2.25em;
}
.spacer {
  flex: 1 1 auto
}
.item-input {
  font-size: 1.2em;
  border: 0 solid;
  border-bottom: 1px solid #8b8b8b;
  outline: none;
  padding: 0 0 3px 0;
  margin-right: 1em;
}