.flexContainer {
  height: 88%;
}
.content {
  height: 500px;
}
.title {
  text-align: center;
  margin-bottom: 1em;
  font-weight: 500;
  color: #2f3643;
}
.subtitle {
  text-align: center;
  color: #2f3643;
}
.top-section {
  height: 30%;
}
.copyright {
  text-align: center;
}
