<inventory-bottom-toolbar></inventory-bottom-toolbar>
<mat-horizontal-stepper class="stepper">
  <mat-step>
    <ng-template matStepLabel>MAKE OFFICE SUPPLY REQUEST</ng-template>
    <inventory-office-supply-request-step-one></inventory-office-supply-request-step-one>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>CONFIRM YOUR REQUEST</ng-template>
    <inventory-office-supply-request-step-two></inventory-office-supply-request-step-two>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>REQUEST STATUS</ng-template>
    <inventory-office-supply-request-step-three></inventory-office-supply-request-step-three>
  </mat-step>
</mat-horizontal-stepper>