<mat-form-field class="search-field" floatLabel="never" style="font-size: 0.8em; width: 280px; height: 3.75em;">
  <input matInput type="text" [(ngModel)]="text" (ngModelChange)="handleSearch($event)" placeholder="Search ..." style="font-size: 1em;">
  <button *ngIf="text" matSuffix mat-icon-button aria-label="Clear" (click)="handleClear()">
    <mat-icon style="font-size: 1.5em;">close</mat-icon>
  </button>
  <button *ngIf="!text" matSuffix mat-icon-button aria-label="Clear">
    <mat-icon style="font-size: 1.5em;">search</mat-icon>
  </button>
</mat-form-field>