<mat-toolbar color="primary">
  <span style="font-size: 0.75em">BREAKROOM INVENTORY</span>
  <span class="spacer"></span>
  <button
    matTooltip="send items to confirmation stage"
    matTooltipClass="send-icon"
    mat-button
    [disabled]="isSendButtonDisabled"
    (click)="handleSendRequest()"
  >
  
    <mat-icon matSuffix>send</mat-icon>
  </button>
</mat-toolbar>
<div style="padding-top: 0.5em">
  <ag-grid-angular
  #agGrid
  id="masterInventoryGrid"
  [ngStyle.xs]="{'width.%': 100, 'height.px': 300}"
  [ngStyle.sm]="{'width.%': 100, 'height.px': 350}"
  [ngStyle.md]="{'width.%': 100, 'height.px': 400}"
  [ngStyle.lg]="{'width.%': 100, 'height.px': 500}"
  [ngStyle.xl]="{'width.%': 100, 'height.px': 700}"
  [headerHeight]="50"
  [defaultColDef]="defaultColDef"
  class="ag-theme-alpine"
  [rowData]="rowData | async"
  [columnDefs]="columnDefs"
  rowSelection="multiple"
  (selectionChanged)="getSelectedRows()"
  (gridReady)="onGridReady($event)"
  [pagination]="true"
  [animateRows]="true"
  [paginationPageSize]="12"
></ag-grid-angular>
</div>
